.container-footer {
  display: flex;
  width: 100%;
  height: 135px;
  background-color: #22272d;
  border-top: 35px solid var(--color-primary);
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 1.6rem;
  color: white;
  margin: 30px;
}
