@import url(./globals.css);
@import url(./header.css);
@import url(./footer.css);

.profile-main {
  display: grid;
}

.main-news-container {
  background-color: var(--color-secondary);
  padding: 50px 100px;
}

.news-container__image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.container__image-new {
  grid-column: 1;
  width: 90%;
}

.image-new__img {
  width: 100%;
  object-fit: cover;
}

.news-container__texts {
  grid-column: 2;
}

.news-container__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.news-container__paragraph {
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.main-articles-container {
  padding: 20px 100px 50px;
}

.articles-container__title {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.articles-container-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.article-container {
  display: inline-block;
  max-width: 30%;
  margin-bottom: 50px;
}

.article-container__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-container__paragraph {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
